services:
  perplexica:
    image: itzcrazykns1337/perplexica:latest
    build:
      context: .
    ports:
      - '127.0.0.1:3000:3000'
    volumes:
      - data:/home/perplexica/data
    environment:
      - CLOUDFLARE_RAG_URL=${CLOUDFLARE_RAG_URL:-https://craftypanda-rag.techjoe.workers.dev}
      - CLOUDFLARE_RAG_API_KEY=${CLOUDFLARE_RAG_API_KEY}
    restart: unless-stopped

volumes:
  data:
    name: 'perplexica-data'
