use_default_settings: true

general:
  instance_name: 'searxng'

server:
  secret_key: "craftypanda_searxng_secret_2024"
  limiter: false
  image_proxy: true

search:
  safe_search: 0
  autocomplete: "google"
  default_lang: "en"
  formats:
    - html
    - json

engines:
  - name: google
    disabled: false
  - name: bing
    disabled: false
  - name: duckduckgo
    disabled: false
  - name: wikipedia
    disabled: false
  - name: wolframalpha
    disabled: false
